<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Selene">

    <xacro:include filename="$(find humanoid_robot)/urdf/robot_core.urdf.xacro"/>
    <xacro:include filename="$(find humanoid_robot)/urdf/ros2_control.xacro"/>

    <xacro:robot_core/>
    <xacro:ros2_control/>

</robot>