<?xml version="1.0"?>

<robot name="Selene">

  <!-- #######################################################   LINKS   ################################################################### -->
  <!-- Base -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0100023420943865 0.0113704665181975 0.674727562757712" rpy="0 0 0" />
      <mass value="3.78181180876983" />
      <inertia
        ixx="0.0289881715545131" ixy="-2.34952842388438E-05" ixz="0.00203838739877037"
        iyy="0.0282471940044164" iyz="0.000277812220276223" izz="0.00985571887812677" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/base_link.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- #####  UPPER BODY  ##### -->
  <!-- Head -->
  <link name="Head">
    <inertial>
      <origin xyz="1.94507491572959E-06 -1.10276307547261E-07 0.00920379107702982" rpy="0 0 0" />
      <mass value="0.0204755663453671" />
      <inertia
        ixx="2.48857313055502E-06" ixy="1.58933146859342E-11" ixz="-1.53587889097411E-11"
        iyy="2.48861362838572E-06" iyz="1.0524516855652E-12" izz="2.30241709600154E-06" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Head.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Head.STL" />
      </geometry>
    </collision>
  </link>

  <!-- *****  Shoulders  ***** -->
  <!-- Left Shoulder -->
  <link name="Shoulder_Left">
    <inertial>
      <origin xyz="-0.000226132441242099 -0.0354806783650563 -0.0683015626357323" rpy="0 0 0" />
      <mass value="0.17396156125864" />
      <inertia
        ixx="0.000290783661604433" ixy="8.53619200375728E-08" ixz="9.28025240172068E-07"
        iyy="0.000299832000761949" iyz="-4.02822461595027E-05" izz="4.9521505630746E-05" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Shoulder_Left.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Shoulder_Left.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- Right Shoulder -->
  <link name="Shoulder_Right">
    <inertial>
      <origin xyz="-0.000226503959646872 0.0354809522342639 -0.0683034814503672" rpy="0 0 0" />
      <mass value="0.173956267653836" />
      <inertia
        ixx="0.000290775822093302" ixy="-8.64319034159634E-08" ixz="9.31069079745632E-07"
        iyy="0.000299820943485111" iyz="4.02820062142174E-05" izz="4.95193455301138E-05" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Shoulder_Right.STL" />
      </geometry>      
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Shoulder_Right.STL" />
      </geometry>
    </collision>
  </link>

  <!-- *****  Elbows  ***** -->
  <!-- Left Elbow -->
  <link name="Elbow_Left">
    <inertial>
      <origin xyz="0.00928267206313797 -0.00549982222068757 -0.0621529175277214" rpy="0 0 0" />
      <mass value="0.080679640365444" />
      <inertia
        ixx="0.00010013808132852" ixy="8.50147925817831E-07" ixz="2.1171900411E-05"
        iyy="0.000104805954367755" iyz="-4.722322383949E-06" izz="1.42978234327262E-05" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Elbow_Left.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Elbow_Left.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Right Elbow -->
  <link name="Elbow_Right">
    <inertial>
      <origin xyz="0.00928283620034147 0.00549966032962597 -0.0621529115970779" rpy="0 0 0" />
      <mass value="0.0806748169693422" />
      <inertia
        ixx="0.000100130695775464" ixy="-8.50346985914723E-07" ixz="2.11695824904372E-05"
        iyy="0.000104798052557367" iyz="4.7228265405251E-06" izz="1.42969053841886E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Elbow_Right.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Elbow_Right.STL" />
      </geometry>
    </collision>
  </link>

  <!-- #####  UPPER BODY  ##### -->
  <!-- *****  Thighs  ***** -->
  <!-- Left Thigh -->
  <link name="Thigh_Left">
    <inertial>
      <origin xyz="0.0232782491490201 -0.0391974149526159 -0.143116335507406" rpy="0 0 0" />
      <mass value="1.71253222820306" />
      <inertia
        ixx="0.00996674674236712" ixy="-3.24702547387314E-05" ixz="0.000390411340022318"
        iyy="0.00993892919291852" iyz="-0.000169586324129286" izz="0.00203984834862235" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Thigh_Left.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Thigh_Left.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Right Thigh -->
  <link name="Thigh_Right">
    <inertial>
      <origin xyz="0.0232810333065785 0.0391987879827244 -0.143121811370373" rpy="0 0 0" />
      <mass value="1.71249589076309" />
      <inertia
        ixx="0.00996720981270455" ixy="3.26594381610291E-05" ixz="0.000390081057293533"
        iyy="0.00993943224089701" iyz="0.000169678146787137" izz="0.00204017135515511" />
    </inertial>
  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Thigh_Right.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Thigh_Right.STL" />
      </geometry>
    </collision>
  </link>

  <!-- *****  Calves  ***** -->
  <!-- Left Calf -->
  <link name="Calf_Left">
    <inertial>
      <origin xyz="0.0190102600468827 -0.00159963895885237 -0.076517992366644" rpy="0 0 0" />
      <mass value="0.327204793273009" />
      <inertia
        ixx="0.00056060655488805" ixy="1.83941448046734E-06" ixz="0.000117382611516597"
        iyy="0.000576927261299078" iyz="-6.31475075527301E-06" izz="0.00015087656827053" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Calf_Left.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Calf_Left.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Right Calf -->
  <link name="Calf_Right">
    <inertial>
      <origin xyz="0.0190029389282548 0.00159876373223955 -0.0765008487844586" rpy="0 0 0" />
      <mass value="0.327294266891114" />
      <inertia
        ixx="0.000560814729177772" ixy="-1.8532188939462E-06" ixz="0.000117482190032848"
        iyy="0.0005771798350897" iyz="6.35212960050734E-06" izz="0.000150937009047011" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Calf_Right.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Calf_Right.STL" />
      </geometry>
    </collision>
  </link>

  <!-- *****  Feet  ***** -->
  <!-- Left Foot -->
  <link name="Foot_Left">
    <inertial>
      <origin xyz="0.0302743738770081 8.60405123109392E-05 -0.0409960721960091" rpy="0 0 0" />
      <mass value="0.109031223076226" />
      <inertia
        ixx="3.015596373348E-05" ixy="1.2148890528659E-07" ixz="1.81609695852798E-05"
        iyy="9.62099140376856E-05" iyz="-1.16818324795965E-07" izz="8.50912025243183E-05" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Foot_Left.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Foot_Left.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Right Foot -->
  <link name="Foot_Right">
    <inertial>
      <origin xyz="0.0302743600707219 8.60381006145966E-05 -0.0409960624720848" rpy="0 0 0" />
      <mass value="0.109031283085521" />
      <inertia
        ixx="3.01560100675454E-05" ixy="1.21487322311586E-07" ixz="1.81609850738135E-05" 
        iyy="9.62099859924235E-05" iyz="-1.16800691255442E-07" izz="8.50912377824343E-05" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Foot_Right.STL" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find humanoid_robot)/meshes/Foot_Right.STL" />
      </geometry>
    </collision>
  </link>


  <!-- #######################################################   JOINTS   ################################################################### -->
  <!-- Neck -->
  <joint name="Neck" type="continuous">
    <origin xyz="-0.044306 0.010853 0.81525" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Head" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- Left Shoulder and Torso -->
  <joint name="TorsoShoulder_Left" type="continuous">
    <origin xyz="-0.033379 -0.064693 0.78215" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Shoulder_Left" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- Left Elbow and Shoulder -->
  <joint name="ShoulderElbow_Left" type="continuous">
    <origin xyz="-0.00073185 -0.040103 -0.14681" rpy="0 0 0" />
    <parent link="Shoulder_Left" />
    <child link="Elbow_Left" />
    <axis xyz="-0.025189 0.99968 0" />
  </joint>

  <!-- Right Shoulder and Torso -->
  <joint name="TorsoShoulder_Right" type="continuous">
    <origin xyz="-0.033308 0.08489 0.77914" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Shoulder_Right" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- Right Elbow and Shoulder -->
  <joint name="ShoulderElbow_Right" type="continuous">
    <origin xyz="-0.00073185 0.040103 -0.14681" rpy="0 0 0" />
    <parent link="Shoulder_Right" />
    <child link="Elbow_Right" />
    <axis xyz="0.025189 0.99968 0" />
  </joint>

  <!-- Left Thigh and Torso -->
  <joint name="TorsoThigh_Left" type="continuous">
    <origin xyz="-0.013335 -0.010993 0.55295" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Thigh_Left" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- Left Calf and Thigh -->
  <joint name="ThighCalf_Left" type="continuous">
    <origin xyz="0.0094239 -0.039542 -0.32005" rpy="0 0 0" />
    <parent link="Thigh_Left" />
    <child link="Calf_Left" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Left Foot and Calf -->
  <joint name="CalfFoot_Left" type="continuous">
    <origin xyz="0.039418 -0.0024472 -0.17177" rpy="0 0 0" />
    <parent link="Calf_Left" />
    <child link="Foot_Left" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Right Thigh and Torso -->
  <joint name="TorsoThigh_Right" type="continuous">
    <origin xyz="-0.015152 0.040137 0.55044" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Thigh_Right" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- Right Calf and Thigh -->
  <joint name="ThighCalf_Right" type="continuous">
    <origin xyz="0.0094239 0.039542 -0.32005" rpy="0 0 0" />
    <parent link="Thigh_Right" />
    <child link="Calf_Right" />
    <axis xyz="0 1 0" />
  </joint>

  <!-- Right Foot and Calf -->
  <joint name="CalfFoot_Right" type="continuous">
    <origin xyz="0.039418 0.002408 -0.17177" rpy="0 0 0" />
    <parent link="Calf_Right" />
    <child link="Foot_Right" />
    <axis xyz="0 1 0" />
  </joint>


</robot>